.li { list-style-image: url("images/red.gif"); margin-bottom:10px; font-size:1.2em} 
      
.container {
        width:100%;
        display:flex;
        flex-direction:row;
        align-items: flex-start;
  
}
.col-left {
         -webkit-flex:1;   
      flex:1;
           
    } 
.col-right {
     width:190px;
    }
 
.img.c-3 {border: 0px solid ; width: 32px; height: 32px;}
.img.c-2 {border: 0px solid ; width: 113px; height: 37px;}
.img.c-1 {width: 190px; height: 110px;}