body { 
  font-family: Arial, sans-serif;
}

     .container {
      display:flex;
      flex-direction:row;
}
    .col-right {
     width:190px;
}
    .col-left {
    -webkit-flex:1;
    flex-grow:1;
}
 .img, iframe {max-width: 100%;
}
.nav ul {
  list-style: none;
  background-color: white;
  text-align: left;
  padding: 0;
  margin: 0;
}
.nav li {
  background-color: #eee;
    display: inline-block;
    list-style-type: none;
}
 
.nav a {
  text-decoration: none;
  color: #444;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: white;
}
 
.nav a.active {
  background-color: #ccc;
  color: #444;
  cursor: default;
}